<main>
  <section class="form-section">
    <img src="/assets/svg/logoheart.svg">
    <h2>{{ title }}</h2>
    <ng-content></ng-content>
    <div class="btn-wrapper">
      <button
      class="btn-primary"
      (click)="submit()"
      [disabled]="disablePrimaryBtn"
      >
        {{ primaryBtnText }}
      </button>
      <div class="divider">
        <div></div>
        <span>ou</span>
        <div></div>
      </div>
      <button class="btn-secondary" (click)="navigate()">{{ secondaryBtnText }}</button>
    </div>
  </section>
  <section class="main-section">

    <img src="/assets/img/main_kid 1.png">
  </section>
</main>
<footer class="footer text-center">
  <div class="container px-4 px-lg-5">
  <p class="text-muted medium mb-0">© 2024 - Tecnologia na Promoção do Bem-Estar de Crianças com Autismo - Grupo 09</p>
  </div>
</footer>
