<body id="page-top">

  <header class="logobar">
    <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
      <div class="d-flex align-items-center">
        <span class="service-icon rounded-circle mx-auto mb-3 text-left dropdown-toggle" type="button" data-bs-toggle="dropdown"
         aria-expanded="false" >
          <img width="81,5" height="81,5" src="assets/svg/logoheart1.svg"></span>
        <span class="ml-2 custom-text">Sobre o TEA</span>
        <ul class="dropdown-menu">
          <li><button class="dropdown-item" type="button">Início</button></li>
          <li><button class="dropdown-item" type="button">Crianças</button></li>
          <li><button class="dropdown-item" type="button">Relatórios</button></li>
          <li><button class="dropdown-item" type="button">Sobre</button></li>
        </ul>
      </div>
    </div>
  </header>
  <br>
 <br>

 <!--Description abou ASD-->
 <div class="container px-4 py-3">

     <div style="display: flex; align-items: center;">
         <img src="assets/img/puzzle.jpg" alt="puzzle" style="width: 40px; height: auto; float: left; margin-right: 10px;">
         <h2 style="color: #DAA520;">Visão Geral</h2>
     </div>

     <br>

     <p style="font-size: 18px; text-align: justify">
        O transtorno do espectro autista (TEA) é um distúrbio do
        neurodesenvolvimento caracterizado por desenvolvimento
        atípico, manifestações comportamentais, déficits na
        comunicação e na interação social, padrões de
        comportamentos repetitivos e estereotipados, podendo
        apresentar um repertório restrito de interesses e atividades.
        O TEA é caracterizado por condições que levam a
        problemas no desenvolvimento da linguagem, na interação
        social, nos processos de comunicação e do comportamento
        social, sendo classificado como um transtorno do
        desenvolvimento.
        Crianças com transtorno do espectro autista vivenciam
        uma trajetória de desenvolvimento em áreas como cognição
        social, comunicação e padrões de interesses e
        comportamentos bem diferentes do comum.
     </p>

     <img src="assets/img/austism name.jpg" alt="Autism Name" style="width: 220px; float: right; margin-left: 10px;">

     <p style="font-size: 18px; text-align: justify">
        O autismo é conhecido como um transtorno de “espectro” porque há uma grande variação no tipo e na gravidade dos sintomas que as pessoas apresentam.
     </p>
     <p style="font-size: 18px; text-align: justify">
        Pessoas de todos os gêneros, raças, etnias e origens econômicas podem ser diagnosticadas com TEA. Embora o TEA possa ser um distúrbio para toda a vida, os tratamentos e serviços podem melhorar os sintomas e a rotina diária de uma pessoa.
     </p>
     <p style="font-size: 18px; text-align: justify">
        Aspectos no neurodesenvolvimento da criança podem ser
        percebidos nos primeiros meses de vida, sendo o diagnóstico
        estabelecido por volta dos 2 a 3 anos de idade. A
        prevalência é maior no sexo masculino.
        A identificação de atrasos no desenvolvimento, o
        diagnóstico oportuno do TEA e o encaminhamento para
        intervenções comportamentais e o apoio educacional na
        idade mais precoce possível podem levar a melhores
        resultados a longo prazo
     </p>
     <br>

     <div style="display: flex; align-items: center;">
         <img src="assets/img/puzzle.jpg" alt="puzzle" style="width: 40px; height: auto; float: left; margin-right: 10px;">
         <h2 style="color: #DAA520;">Sinais e sintomas do TEA</h2>
     </div>

     <br>

     <p style="font-size: 18px; text-align: justify">
        A lista abaixo dá alguns exemplos de tipos comuns de comportamento em pessoas com diagnóstico de TEA. Nem todas as pessoas com TEA terão todos os comportamentos, mas a maioria terá vários dos comportamentos listados abaixo.
     </p>

     <img src="assets/img/Girlbrainpuzzle.jpg" alt="Girl brain puzzle" style="width: 300px; float: left; margin-left: 10px;">

     <p style="font-size: 18px; text-align: justify">
      Os comportamentos de comunicação/interação social podem incluir:
     </p>

     <ul style="font-size: 18px;">
         <li>Fazer pouco ou inconsistente contato visual</li>
         <li>Aparenta não olhar ou ouvir as pessoas que estão conversando</li>
         <li>Compartilhar com pouca frequência interesse, emoção ou prazer em relação a objetos ou atividades (incluindo apontar ou mostrar coisas a outras pessoas com pouca frequência)</li>
         <li>Não responder ou demorar para responder ao próprio nome ou a outras solicitações verbais de atenção</li>
         <li>Dificuldades com o "vaivém" da conversa"</li>
         <li>Frequentemente falando por muito tempo sobre um assunto favorito sem perceber que os outros não estão interessados ​​ou sem dar aos outros a chance de responder</li>
         <li>Exibindo expressões faciais, movimentos e gestos que não correspondem ao que está sendo dito</li>
         <li>Ter um tom de voz incomum que pode soar cantado ou monótono e robótico</li>
         <li>Ter dificuldade em compreender o ponto de vista de outra pessoa ou ser incapaz de prever ou compreender as ações de outras pessoas</li>
         <li>Dificuldades em ajustar comportamentos a situações sociais</li>
         <li>Dificuldades em compartilhar brincadeiras lúdicas ou em fazer amigos</li>
     </ul>

     <p style="font-size: 18px; text-align: justify">Referência:</p> <a href="https://www.nimh.nih.gov/health/topics/autism-spectrum-disorders-asd"> National Institute of Mental Health</a>

     <br>
     <br>

     <div style="display: flex; align-items: center;">
         <img src="assets/img/puzzle.jpg" alt="puzzle" style="width: 40px; height: auto; float: left; margin-right: 10px;">
         <h2 style="color: #DAA520;">Cursos gratuitos sobre o Transtorno do Espectro Autista</h2>
     </div>
     <br>

     <p style="font-size: 18px; text-align: justify">Nesta seção apresentaremos quatro cursos gratuitos ofertados pelo Ministério
      da Saúde em alusão ao Dia Mundial de Conscientização sobre o Autismo. Estes curso foram provenientes do próprio site do
      Ministério da Saúde.<a href="https://www.gov.br/saude/pt-br">  Ministério da Saúde</a></p>

     <br>

     <p class="border-bottom mb-3"></p>


     <p style="font-size: 18px; text-align: justify"> Capacitação Multiprofissional em Análise do Comportamento Aplicada (ABA) voltada ao Transtorno do Espectro Autista (TEA).
      Com carga horária de 40 horas, é direcionado restritamente a médicos, psicólogos, fonoaudiólogos, fisioterapeutas, terapeutas ocupacionais, enfermeiros, técnicos de enfermagem, assistentes sociais e cirurgiões-dentistas.
     </p>

     <img src="assets/img/handspuzzle.jpg" alt="Autism Puzzle Hands" style="width: 230px; float: right; margin-left: 10px;">

     <a class="article-btm" href="http://pr.avasus.ufrn.br/local/avasplugin/cursos/curso.php?id=73">Acesse aqui!</a> <p></p><p></p>


     <p class="border-bottom mb-3"></p>


     <p style="font-size: 18px; text-align: justify"> Capacitação em Análise do Comportamento Aplicada (ABA) voltada ao Transtorno do Espectro Autista (TEA).
      Carga horária de 20 horas, direcionada para pais, cuidadores e educadores.
     </p>
     <a class="article-btm" href="http://pr.avasus.ufrn.br/local/avasplugin/cursos/curso.php?id=67">Acesse aqui!</a> <p></p><p></p>


     <p class="border-bottom mb-3"></p>

     <p style="font-size: 18px; text-align: justify"> Webpalestra sobre Nutrição na Criança Autista. Iniciativa com duração de 4 horas. </p>
     <a class="article-btm" href="https://avasus.ufrn.br/local/avasplugin/cursos/curso.php?id=208">Acesse aqui!</a> <p></p><p></p>

     <p class="border-bottom mb-3"></p>

     <p style="font-size: 18px; text-align: justify"> Capacitação de Atenção à Reabilitação da Pessoa com Transtornos do Espectro Autista.
      Realizado em parceria com a Universidade Federal do Maranhão (UFMA), o curso conta com carga horária de 30 horas e é direcionado para profissionais e familiares. A iniciativa possibilita conhecer a história, a epidemiologia e o
      fluxograma de acompanhamento e atendimento da pessoa com autismo no SUS.
     </p>
     <a class="article-btm" href="https://www.unasus.gov.br/cursos/curso/46585">Acesse aqui!</a> <p></p><p></p>

     <p class="border-bottom mb-3"></p>


     <div style="display: flex; align-items: center;">
     <img src="assets/img/puzzle.jpg" alt="puzzle" style="width: 40px; height: auto; float: left; margin-right: 10px;">
     <h2 style="color: #DAA520;">Como o autismo é tratado?</h2>
     </div>

     <p></p>

     <p style="font-size: 18px; text-align: justify"> <img src="assets/img/happygirl.jpg" alt="Happy girl" style="width: 230px; float: left; margin-left: 10px;"> Cada criança com transtorno do espectro do autismo (TEA) tem necessidades diferentes,
       portanto o plano de tratamento precisa ser individualizado.
       Como o autismo não é uma doença e, portanto, não pode ser “curado”, o objetivo é ajudar a criança a adquirir e aprimorar habilidades de comunicação, interpessoais e comportamentais para navegar melhor na vida diária e,
       sempre que possível, funcionar de forma independente.<br><br>

       Isto pode envolver uma variedade de terapias diferentes, incluindo terapia da fala e terapia de habilidades sociais, bem como medicamentos prescritos para ajudar a gerenciar problemas com foco e doenças mentais comumente concomitantes.
       Modificações e práticas no estilo de vida podem ajudar a reforçar os objetivos da terapia em casa. <br><br>


       Este artigo analisa os vários tratamentos que podem ser usados ​​se uma criança for diagnosticada com autismo. Também explora o papel que as terapias complementares e alternativas podem desempenhar no plano de tratamento. <a class="article-btm" href="https://www.verywellhealth.com/autism-treatment-4014208">Leia o artigo (idioma em inglês). </a></p>

         <br>
         <div style="display: flex; align-items: center;">
             <img src="assets/img/puzzle.jpg" alt="puzzle" style="width: 40px; height: auto; float: left; margin-right: 10px;">
             <h2 style="color: #DAA520;">Suporte e ajuda</h2>
          </div>
             <img src="assets/img/handsheartpuzzle.jpg" alt="Autism Name" style="width: 200px; float: right; margin-left: 10px;">

             <br>


         <p style="font-size: 18px; text-align: justify">Os estados devem fornecer centros de apoio para indivíduos autistas e suas famílias. No estado de São Paulo, a instituição Autismo e Realidade, que nasceu como uma associação de pais
          e profissionais de saúde e foi incorporada à Fundação José Luiz Egydio Setúbal, passando a fazer parte da estrutura do Instituto PENSI, responsável por desenvolver programas de ensino e pesquisa em saúde infantil. Nesta nova fase, a instituição segue o seu trabalho de difusão do conhecimento sobre autismo por meio do site com conteúdos voltados para pais e público geral, com destaque para as cartilhas com ferramentas de apoio para o cotidiano dos portadores e a lista de instituições com serviços especializados de educação e atendimento médico.
          Em conjunto com o PENSI, também são realizadas pesquisas científicas e de cursos EAD de capacitação para profissionais, cuidadores e familiares.
          Para obter mais informações sobre o trabalho do Autismo e Realidade, visite o site oficial da da instituição.</p>
          <p style="font-size: 18px; text-align: justify"> <a href="https://autismoerealidade.org.br/"> Autismo e Realidade</a></p>

 </div>

 <br>

 <!-- Footer-->
 <footer class="footer text-center">
  <div class="container px-4 px-lg-5">
  <p class="text-muted medium mb-0">© 2024 - Tecnologia na Promoção do Bem-Estar de Crianças com Autismo - Grupo 09</p>
  </div>
</footer>
</body>
