<header class="logobar">
  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
    <div class="d-flex align-items-center">
      <span class="service-icon rounded-circle mx-auto mb-3 text-left dropdown-toggle" type="button" data-bs-toggle="dropdown"
       aria-expanded="false" >
        <img width="81,5" height="81,5" src="assets/svg/logoheart1.svg"></span>
      <span class="ml-2 custom-text">Comportamentos</span>
      <ul class="dropdown-menu">
        <li><button class="dropdown-item" type="button" (click)="navigate()">Início</button></li>
        <li><button class="dropdown-item" type="button" (click)="navigateReport()">Relatório Diário</button></li>
        <li><button class="dropdown-item" type="button">Sobre o TEA</button></li>
      </ul>
    </div>
  </div>
</header>
<br>
<div class="container2">
  <div class="behavior">
      <h2>1. Interação Social:</h2>
      <p>A interação social refere-se às habilidades e comportamentos envolvidos na comunicação e participação em atividades sociais com outras pessoas. Em crianças com Transtorno do Espectro Autista (TEA), a interação social pode ser desafiadora devido às dificuldades na compreensão dos sinais sociais, na reciprocidade emocional e no compartilhamento de habilidades. Monitorar a interação social envolve observar a qualidade e a quantidade das interações, bem como o uso de habilidades sociais adequadas.</p>
  </div>
  <div class="behavior">
      <h2>2. Ansiedade:</h2>
      <p>A ansiedade é uma resposta emocional caracterizada por sentimentos de apreensão, inquietação e preocupação. Em crianças com Transtorno do Espectro Autista (TEA), a ansiedade é comumente observada e pode estar relacionada a dificuldades de regulação emocional, habilidades sociais e mudanças na rotina. A monitorização da ansiedade permite identificar gatilhos e níveis de ansiedade, possibilitando o desenvolvimento de estratégias de intervenção adequadas para reduzir a ansiedade e melhorar o bem-estar.</p>
  </div>
  <div class="behavior">
      <h2>3. Agradável:</h2>
      <p>O comportamento agradável é caracterizado por atitudes positivas e comportamentos cooperativos, respeitosos e amigáveis. Em crianças com Transtorno do Espectro do Autismo (TEA), incentivar e reforçar comportamentos agradáveis é essencial para promover interações sociais positivas e o estabelecimento de relacionamentos saudáveis com os outros.
      </p>
  </div>
  <div class="behavior">
      <h2>4. Impaciência:</h2>
      <p>A impaciência refere-se a uma dificuldade em lidar com situações que envolvem espera, atrasos ou frustração. Em crianças com Transtorno do Espectro do Autismo (TEA), a impaciência pode ser influenciada por dificuldades na auto-regulação emocional e tolerância a mudanças. O monitoramento desse comportamento permite a identificação de situações desencadeantes e o desenvolvimento de estratégias para o gerenciamento da frustração e da tolerância à espera.</p>
  </div>
  <div class="behavior">
      <h2>5. Agressão:</h2>
      <p>Agressão refere-se a comportamentos hostis ou violentos dirigidos a si mesmo ou aos outros. Em crianças com Transtorno do Espectro do Autismo (TEA), a agressão pode surgir devido a dificuldades de comunicação, frustração ou dificuldades no controle emocional. O monitoramento da agressão é crucial para identificar padrões, potenciais fatores desencadeantes e desenvolver estratégias de intervenção para promover a segurança e o bem-estar da criança e dos outros.</p>
  </div>
  <div class="behavior">
      <h2>6. Simpatia:</h2>
      <p>Ser amigável envolve a capacidade de estabelecer e manter relações sociais positivas, demonstrando comportamentos amigáveis, como compartilhar, colaborar e respeitar os outros. O monitoramento desse comportamento permite a avaliação do desenvolvimento de habilidades sociais e a identificação de áreas que necessitam de apoio adicional para promover a interação social saudável.</p>
  </div>
  <div class="behavior">
      <h2>7. Comunicação:</h2>
      <p>A comunicação engloba todas as formas de expressão e compreensão da informação, incluindo fala, língua de sinais, comunicação alternativa e habilidades pragmáticas. Em crianças com Transtorno do Espectro do Autismo (TEA), a comunicação pode ser afetada por dificuldades de linguagem, expressão emocional e compreensão de pistas sociais. O monitoramento do uso de fala, linguagem de sinais ou comunicação alternativa pode fornecer informações sobre o desenvolvimento da comunicação e ajudar a adaptar estratégias de intervenção.</p>
  </div>
  <div class="behavior">
      <h2>8. Concentração:</h2>
      <p>Concentração refere-se à capacidade de direcionar e manter o foco em uma tarefa específica, bloqueando distrações externas e internas. Em crianças com Transtorno do Espectro do Autismo (TEA), as dificuldades de concentração podem ocorrer devido a problemas como hiper ou hipoa). O monitoramento da concentração envolve observar a capacidade da criança de manter o foco em atividades específicas, bem como identificar fatores que possam interferir na concentração, como ruído excessivo ou estímulos visuais intensos. Essas informações podem ajudar a adaptar o ambiente e apoiar estratégias para otimizar a concentração e o envolvimento da criança em atividades acadêmicas e sociais.</p>
  </div>
</div>



