<app-header></app-header>
<main>
  <section class="main-section">
    <h1>Autismo não se cura, se compreende.</h1>
    <img class="img" src="../../../assets/svg/OIG3 1.svg">
    Imagem de <a href="https://br.freepik.com/vetores-gratis/ilustracao-do-dia-da-conscientizacao-do-autismo-no-mundo-plano-com-pecas-do-quebra-cabeca_12673763.htm#fromView=search&page=2&position=52&uuid=30c3426d-7167-4459-8d71-0d0d9ea9eaa7">Freepik</a>
  </section>
  <section class="button-section">
    <button></button>
  </section>

</main>
